<div class="owner-show-page">
  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><%= image_tag @owner.profile_image_url.to_s %></a>
      <div id="owner-background">
        <h1><%= @owner.name %></h1>
        <div id="address"><%= @owner.address %></div>
        <div id="city"><%= @owner.city %>, <%= @owner.state %></div>
        <div id="zip"><%= @owner.zip %></div>
        <div id="email"><%= @owner.email %></div>
        <div id="phone"><%= @owner.phone %></div>
        <div id="website"><%= @owner.website %></div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div id="description"><%= @owner.description %></div>
  </div>
</div>

